.tdl-cards-container {
  margin-top: 20px;
  .tdl-card {
    margin-top: 20px;

    .task-checkbox-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .no-entries-found {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: 24px;
  }
}

.completed-task {
  text-decoration: line-through;
}

.active-task {
  text-decoration: none;
}
