/* You can add global styles to this file, and also import other style files */
// background color = #18191A
// primary text = #E4E6EB
// secondary text = #B0B3B8
// card color = #242526
// hover color = #3A3B3C

body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #18191A;
  color: #E4E6EB;
}

html, body { height: 100%; }
